version: "3.9"

services:
  mysql:
    image: mysql:8.0
    mem_limit: 4g
    cpus: 1
    container_name: mysql_db
    env_file:
      - .env
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-network
    restart: always

  backend:
    image: filipe0911/monitoramento_back_v1:latest
    mem_limit: 645m
    cpus: 1
    env_file:
      - .env
    environment:
      SPRING_DATASOURCE_URL: ${DB_HOST_PORT}
      SPRING_DATASOURCE_USERNAME: ${DB_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
    networks:
      - app-network
    depends_on:
      - mysql
    deploy:
      replicas: 3   # LOAD BALANCING REAL
      restart_policy:
        condition: on-failure
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 10s
      timeout: 3s
      retries: 15
      start_period: 20s
    restart: always

  frontend:
    image: filipe0911/monitoramento_front_v1:latest
    mem_limit: 64m
    cpus: 0.125
    environment:
      VITE_LOGIN_API: /api
    networks:
      - app-network
    depends_on:
      backend:
        condition: service_healthy
    restart: always
 
  nginx:
    image: nginx:alpine
    mem_limit: 64m
    cpus: 0.125
    container_name: nginx_lb
    ports:
      - "80:80"
    volumes:
      - ./nginx-lb.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend
    networks:
      - app-network
    restart: always

networks:
  app-network:
    driver: bridge

volumes:
  mysql_data:
